/* task-details.component.css */
.avatar {
    background-color: #3498db;
  }
  
  mat-card {
    margin-bottom: 16px;
    background-color: #ecf0f1;
  }
  
  /* Add your custom styles as needed */
  