/* task-list.component.css */
.task-list {
  width: 100%;
  height: 100vh;
  transition: margin-left 0.3s;
}

.minimized {
  margin-left: -100%; /* Move the task list off-screen when minimized */
}

.task-details-fullscreen {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

/* Add your custom styles as needed */
