/* Add this to styles.css */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Add your custom styles as needed */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*
@font-face {
  font-family: 'CustomIcons';
  src: url('./assets/fonts/custom-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}*/
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 300px;
  padding-top: 64px;
}

mat-card {
  margin: 16px;
}

mat-list-item {
  cursor: pointer;
}

/* Define your custom icon classes */
/*
.icon-custom {
  font-family: 'CustomIcons';
}
*/